.error,
.count {
    margin:100px 0 0 0;
    min-width: 200px;
    min-height: 35px;
    color: black;
    font-size: 30px;
    padding: 10px;
    font-weight: 500;
    border: 0;
    border-radius: 30px;
    text-align: center;
    align-items: center;
    background: #fff;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.18);
}
.error {
    color: #ff5656;
}
